---
import Layout from '../layouts/Layout.astro';
import Header from '../pages/Header.astro';
import { TeiBaseStyle, processTei } from 'astro-tei';
import TEI from '../components/tei'

const teiFile = (await import("../teiFiles/P5-f1818_C11.xml?raw")).default;

const jdom = processTei(teiFile);
const teiDom = jdom.window.document;
const tei = jdom.serialize();
const elements = teiDom.documentElement.getAttribute("data-elements").split(",");

---

<section id='viewer'>
    <TeiBaseStyle/>
    <main>
        <div class="tei">
            <TEI doc={teiDom} data={tei} elements={elements} client:load />
        </div>
    </main>
</section>
