---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'
import { Image } from '@astrojs/image/components';
import FronticepieceImage from './assets/img/general/fronticepiece-50.jpg';
---
<Layout>
    <main id="primary-content" role="main">
    <h1>404</h1>

    <div class='alert'>
        <p><strong>Page not found :(</strong></p>
        <p>The requested page could not be found.</p>
    </div>
    </main>
</Layout>

