---
import Layout from '../layouts/Layout.astro';
import {Image} from "@astrojs/image/components";
import VersionHistory from '../assets/images/general/versionHistory.svg';
import editionLineage from '../assets/images/general/editionLineage.svg';
import FronticepieceImage from './assets/img/general/fronticepiece-50.jpg';

---
<Layout title="About">
<main id="primary-content" role="main">
      <h1>About the texts in the Variorum</h1>

     <!-- <p>This site presents a Variorum Viewer for reading five versions of the novel <i>Frankenstein</i> in relation to each other. It represents an experiment with several methods in the digital humanities: text encoding, machine-assisted collation, and static web delivery of a distinctive interface that invites the reader to read for variance, to discover the passages that differ across the five versions and find out how they are different.</p> -->
    <p>If you are visiting this <i>Frankenstein Variorum</i> site, you are likely interested in exploring how <i>Frankenstein</i> changed in its author’s lifetime. To guide your journey, you may wish to learn more about Mary Wollstonecraft Shelley (MWS) and the origins of <i>Frankenstein, or The Modern Prometheus</i> in the summer of 1816, and there are many resources available. We recommend <a href="https://romantic-circles.org/Editions/Article/about-mary-wollstonecraft-shelley">the biographical resources available on Romantic Circles</a> as a good starting point, together with the detailed and authoritative “<a href="http://shelleygodwinarchive.org/contents/frankenstein/the-frankenstein-notebooks-introduction/#frankenstein_intro">Introduction to the Frankenstein Notebooks</a>” by Charles E. Robinson available from the Shelley-Godwin Archive. In that introduction, Robinson points out a key issue in the textual history of this novel: <strong>“In the case of Frankenstein, the substantive changes that MWS made in her revised edition are so extensive that many teachers and students of <i>Frankenstein</i> consider 1818 and 1831 as two different novels.”</strong> Scholars do not agree on a single authoritative text, though the 1818 edition became more available from the 1990s onward in teaching editions, reflecting increasing interest in the earlier versions of the text.</p>

    <p>With this project, we offer a way to explore not just two but five distinct moments in the novel’s writing and re-writing, and they do not proceed in orderly stages. The following diagram summarizes the relationships among the manuscript and published versions of <i>Frankenstein</i> composed between 1816 and 1831 that we worked with for this variorum project.</p>
    <figure class="diagram">
        <Image src={VersionHistory} alt='diagram connecting five versions of Frankenstein from 1816 to 1831'
               format="svg" />
        <figcaption>Diagram of relationships among the versions of <i>Frankenstein</i> in the Variorum.</figcaption>
    </figure>
    <p>In the diagram: </p>
    <ul class="explan">
        <li>We supply each version the same color it is assigned throughout the site (though for accessibility these color codes always accompany a text label for each version as “MS”, “1818”, “Thomas”, “1823”, and “1831”); </li>
        <li>The rounded capsules indicate the published editions;</li>
        <li>The rhombus shapes indicate manuscript versions: the notebooks of 1816 and 1817 that preceded the first publication of the novel, and the “Thomas copy” which consists of handwritten insertions, deletions, and marginal notes written on the printed pages of the 1818 text, indicating MWS’s early ideas for revision.</li>
        <li>The connecting solid lines without pointers indicate unclear relationships (between the fragmentary alternative passages and the nearly complete text of the MS Notebook: we are not certain which came first).</li>
        <li>The black dotted lines with pointers indicate strong direct influence over a lengthy period of significant revision. They indicate multiple versions of the text directly available to MWS in preparing the substantial revisions of the 1831 edition.</li>
        <li>The pink dotted line that terminates in an “x” indicates a different kind of uncertainty. We know that the “Thomas copy” was not available to MWS after 1823, so the edits she marked in it were not directly available in her work on the 1831 edition. However, this is an area of interest to explore as a “fork” in the version history.</li>
    </ul>
    <h2>How to begin reading?</h2>
    <p>To begin your experience with investigating variants, we recommend opening the Variorum from the first page of the 1818 edition in the Variorum Viewer or, really, anywhere you like! See what you can discover by exploring the edition first!
    You could also explore the most heavily altered passages first from <a href="/">the Heatmap we provide on our homepage</a>: Click on a location in the heatmap to visit the edition at a heavily altered point, and discover the variations.</p>

    <p>On <emph>any page</emph> of the Variorum Viewer, you should</p>
    <ol class="explan"><li>Click on the grey highlighted passages,</li>
    <li>View the variant side-panel,</li>
    <li>and then click the edition names in the variant side-panel. This sends you to the different edition you clicked on to see how that passage appears there!
    </ol>
    <p>For more detailed guidance on how to read and understand what you are seeing in the Variorum, we recommend you visit the <a href="/method">Method page</a>, where we provide screen captures on navigation and explain the normalized text notation in the variant side-panels.

    <h2>Origins of the texts</h2>
    <p>Following are details on the origins of each text represented in this <i>Frankenstein Variorum</i>:
    </p>
    <ul>
    <li><label class="edition-label"><span class="dot ed-MS"></span>MS</label> The manuscript notebooks at the Bodleian Library thought to be a “fair copy” of the novel preparing it for publication, drafted in 1816-1817. Facsimile views and manuscript encoding of each page surface are provided by <a href="http://shelleygodwinarchive.org/contents/frankenstein/">the Shelley-Godwin Archive (S-GA)</a>, and the TEI encoding from this project provides one of the five bases for our machine-assisted collation. The Variorum Viewer provides deep links into each page of the intricate S-GA edition.
    </li>
    <li><label class="edition-label"><span class="dot ed-1818"></span>1818</label> The first anonymous publication of the novel, published by <a href="https://knarf.english.upenn.edu/V1notes/lackingt.html">Lackington, Hughes, Harding, Mavor, & Jones in London, 1818</a>. We worked with the 1990s HTML code of <a href="https://knarf.english.upenn.edu/Text/text.html">The Pennsylvania Electronic Edition of the 1818 text</a>, transformed it to XML and corrected it against a photo facsimile of the 1818 edition so its markup would form the basis for locating chapter and paragraph boundaries in our collation.</li>
    <li><label class="edition-label"><span class="dot ed-Thomas"></span>Thomas</label> MWS’s handwritten edits and marginal notes inscribed in a copy of the 1818 edition <a href="https://www.themorgan.org/collection/frankenstein">that MWS left in Italy with Mrs. Thomas nearly a year after the death of Percy Shelley in July 1822 and before she returned to England in August 1823</a>. It is now stored at The Morgan Library &amp; Museum. As we have indicated, since the notes in this book were not available to MWS later, the “Thomas copy” represents a divergence in the version history and raises interesting questions of how much it differs from her later revisions.</li>
    <li><label class="edition-label"><span class="dot ed-1823"></span>1823</label> Inspired by the success of <a href="https://english.unl.edu/sbehrendt/texts/Presumption/presump.htm"><i>Presumption! or, The Fate of Frankenstein</i></a>, the first staged melodrama adaptation of his daughter’s novel, William Godwin prepared a lightly edited version of the 1818 text for publication. Godwin’s 1823 edition, prepared before his daughter returned to England and without her assistance, is the first time the name of the author, “Mary Wollstonecraft Shelley”, appears on the the title page. With the help of Carnegie Mellon library with OCR page images, we prepared the 1823 XML text for incorporation in the Frankenstein Variorum.</li>
    <li><label class="edition-label"><span class="dot ed-1831"></span>1831</label> MWS heavily revised the novel by 1831, and this revised version was first published in volume 9 of Bentley’s Standard Series of Novels (London: Henry Colburn &amp; Richard Bentley, 1831. As with the 1818 edition, we again worked with the code of <a href="https://knarf.english.upenn.edu/1831v1/ftitle.html">The Pennsylvania Electronic Edition</a> for preparing our XML text and corrected that text by consulting a photo facsimile.</li>
    </ul>

    <p>You may access and download the texts in various stages of preparation for this edition from the Data page of this website and from our GitHub repository for the project. </p>

    <h2>The scholarly heritage of this edition</h2>
    <p>The <i>Frankenstein Variorum</i> builds upon a distinguished tradition of scholarly editing that investigated the novel’s early versions and experimented with textual comparison. Prior to the 1990s, most readers only encountered the latest 1831 text of <i>Frankenstein</i>, but work that began with James Rieger’s 1974 edition began to feature the 1818 version of the novel as remarkably distinct. The Pennsylvania Electronic Edition of <i>Frankenstein</i>, which provided the basis for two of our base texts, was an important experiment in digital editing that permitted the reader to study the 1818 and 1831 editions side by side without preferring either text over the other. Our own collation of five distinct editions is based on the strong foundation provided by distinguished textual scholars of this work who came before us, summarized in the following table. </p>

    <figure class="diagram">
        <Image src={editionLineage} alt="diagram of print and digital editions leading to this project"/>
        <figcaption>Print and digital editions leading to the Frankenstein Variorum</figcaption>
    </figure>

    <p>We launched our project in 2017 to prepare for the bicentennial of <i>Frankenstein</i>’s first publication in 1818, thinking only to improve the comparison view of the 1818 and 1831 editions available on <a href="https://romantic-circles.org/editions/frankenstein/editions.2009.frankenstein">Romantic Circles</a>. With the availability of <a href="https://collatex.net/">collateX</a> for machine-assisted collation of variant texts, we soon determined to make five editions available and to take on the challenge of presenting a way to navigate the five texts as they relate to one another. The Variorum Viewer we designed provides a means to read each of the five editions from start to finish, but it is optimized for non-linear reading to investigate comparisons, and how particular passages transformed over time.</p>



    </main>

</Layout>
