---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'
import { Image } from '@astrojs/image/components';
import FronticepieceImage from './assets/img/general/fronticepiece-50.jpg';
---
<Layout title="Data">
<main id="primary-content" role="main">
        <h1>Data</h1>

        <p>Machine-readable data produced during the first phase of the Frankenstein Variourm project are available for download and re-use here:</p>

        <p>Elisa Beshero-Bondar, Raffaele Viglianti, Rikk Mulligan, Jon Klancher, Scott Weingart, Matthew Lincoln, John Quirk, Steven Gotzler, and Avery Wiscomb. “Frankenstein Variorum” January 7, 2020. <a href="https://doi.org/10.1184/R1/c.4805868">https://doi.org/10.1184/R1/c.4805868</a>.</p>

        <p>As of January 2020, this collection includes two deposits:</p>

        <ol>
          <li>Collated TEI: Elisa Beshero-Bondar, Raffaele Viglianti, and Rikk Mulligan. “Frankenstein Variorum - Collations”, January 8, 2020. <a href="https://doi.org/10.1184/R1/11538798">https://doi.org/10.1184/R1/11538798</a>.</li>
          <li>Annotations data: Jon Klancher, John Quirk, Steven Gotzler, Avery Wiscomb, Elisa Beshero-Bondar, Raffaele Viglianti, Rikk Mulligan, Matthew Lincoln, and Scott Weingart. “Frankenstein Variorum - Annotations”. January 6, 2020. <a href="https://doi.org/10.1184/R1/11440689">https://doi.org/10.1184/R1/11440689</a>.</li>
        </ol>

        <p>See the deposit pages for more detailed descriptions and technical documentation.</p>
</main>
</Layout>
