---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Data">
<main id="primary-content" role="main">
        <h1>Data</h1>
       <p>Each stage of this project produced data that we hope will support other scholarly projects on <i>Frankenstein</i>. Please visit the <a href="https://github.com/FrankensteinVariorum">Frankenstein Variorum GitHub organization</a> to access files from each stage.
       We curated our data files for preparing the editions and finalizing them (pre and post-collation) in the <a href="https://github.com/FrankensteinVariorum/fv-data">fv-data repository</a>.</p>

        <p>Early Machine-readable data produced during the first phase of the Frankenstein Variorum project are available for download and re-use here:</p>

        <p>Elisa Beshero-Bondar, Raffaele Viglianti, Rikk Mulligan, Jon Klancher, Scott Weingart, Matthew Lincoln, John Quirk, Steven Gotzler, and Avery Wiscomb. “Frankenstein Variorum” January 7, 2020. <a href="https://doi.org/10.1184/R1/c.4805868">https://doi.org/10.1184/R1/c.4805868</a>.</p>

        <p>As of January 2020, this collection includes two deposits:</p>

        <ol>
          <li>Collated TEI: Elisa Beshero-Bondar, Raffaele Viglianti, and Rikk Mulligan. “Frankenstein Variorum - Collations”, January 8, 2020. <a href="https://doi.org/10.1184/R1/11538798">https://doi.org/10.1184/R1/11538798</a>.</li>
          <li>Annotations data: Jon Klancher, John Quirk, Steven Gotzler, Avery Wiscomb, Elisa Beshero-Bondar, Raffaele Viglianti, Rikk Mulligan, Matthew Lincoln, and Scott Weingart. “Frankenstein Variorum - Annotations”. January 6, 2020. <a href="https://doi.org/10.1184/R1/11440689">https://doi.org/10.1184/R1/11440689</a>.</li>
        </ol>

        <p>See the deposit pages for more detailed descriptions and technical documentation.</p>
</main>
</Layout>
