---
import Home from '../layouts/Home.astro';
import { sources } from '../data/units.json'
import slugify from '../components/helpers/slugify.js';

import { Image } from '@astrojs/image/components';
import FronticepieceImage from '../../public/images/general/fronticepiece.jpg';
const start = `/viewer/${sources.find(s=>s.label == "1818").label}/${slugify(sources.find(s=>s.label == "1818").units[0].label)}`
// const start = `/viewer/${sources[0].label}/${slugify(sources[0].units[0].label)}`
---
<Home>
      <section>
        <div id='epigraph'>
          Did I request thee, Maker, from my clay<br />
          To mould me man?  Did I solicit thee<br />
          From darkness to promote me? — <span class='epigraph-source'>PARADISE LOST</span>
        </div>
        <div id='home-title'>
          <div class='attribution'>Mary Shelley’s</div>
          <h1>Frankenstein</h1>
          <div class='subtitle'>A Digital Variorum Edition</div>
        </div>
        <div id='home-cta' class='btn'>
          <a href={start} title='Use the Variorum Viewer'>Variorum Viewer</a>
        </div>
      </section>
      <aside id='fronticepiece'>
        <Image src={FronticepieceImage} alt='Fronticepiece Image'
          width={950} format="jpg" />
      </aside>
</Home>