---
import Layout from '../layouts/Layout.astro';
---
<Layout title="People">
    <main id="primary-content" role="main">
        <h1>People</h1>

        <p>This project began in November 2017, when we came together to discuss the 2018 bicentennial of <em>Frankenstein</em>’s first publication. <strong>Scott B. Weingart</strong> organized a meeting to discuss how we might investigate edition and text analysis opportunities, including  a new digital collation of the novel’s versions. Our initial project began with <strong>Elisa Beshero-Bondar</strong> and <strong>Raffaele Viglianti</strong> investigating how to collate the Shelley-Godwin Archive’s encoding of the manuscript notebooks with digital editions of the printed 1818 and 1831 versions of the text. <strong>Matthew Lavin</strong> (then at the University of Pittsburgh), Scott, and Matthew Lincoln (then at Carnegie Mellon University) investigated text analysis possibilities. <strong>Jon Klancher</strong> as a Romanticist was interested in online possibilities for annotations, and <strong>Rikk Mulligan</strong> in full text versions for analysis and the UI to make these accessible. In 2017, when we began, most of us were working at the University of Pittsburgh and Carnegie Mellon University, with Raff Viglianti joining us from U. Maryland’s Shelley-Godwin Archive.</p>

        <p>Within a year, we had determined to compare the five versions of Mary Shelley’s novel completed in her lifetime, and we determined on our method of preparing collation units, working with CollateX, and preparing the architecture of our digital edition from the collation data, as described on our Methods page. We launched a prototype static web interface in 2018 or 2019 with profound thanks to the Agile Humanities Agency, showing only the first third of the novel collated.</p>
        <p>The work of refining our collation methods and completing the collation of the novel took longer than we anticipated, and some of the participants changed jobs and moved on. The project continued after 2020 in the pandemic years, with Elisa Beshero-Bondar and Raffaele Viglianti working with student assistants from Elisa's DIGIT program at Penn State Behrend as they fine-tuned both the collation process, the edition construction with TEI and transforming the semantics of TEI elements directly in the web browser. Over the years, we thoroughly revised our collation methods, our edition preparation, and our the basis for publishing the static website.</p>

        <h4 id="project-completion">Web </h4>

        <h4 id="digit-student-assistants">Student Assistants at Penn State Behrend (2020-2024)</h4>
        <ul>
            <li>Yuying Jin</li>
            <li>Nathan Hammer</li>
            <li>Rachel Gerzevske</li>
            <li>Mia Borgia</li>
            <li>Jacqueline Chan</li>
        </ul>

        <h4 id="textual-editing-and-tei">Textual Editing and TEI</h4>

        <ul>
            <li>Elisa Beshero-Bondar (Pitt-Greensburg to 2020, Penn State Behrend from 2020)</li>
            <li>Rikk Mulligan (Carnegie Mellon)</li>
            <li>Raffaele Viglianti (MITH, University of Maryland)</li>
        </ul>

        <h4 id="variorum--project-interface">Variorum / Project Interface</h4>

        <ul>
            <li>Yuying Jin (Penn State Behrend)</li>
            <li>Matt Lincoln (Carnegie Mellon)</li>
            <li>Rikk Mulligan (Carnegie Mellon)</li>
            <li>Raffaele Viglianti (MITH, University of Maryland)</li>
            <li>Scott B. Weingart (Carnegie Mellon)</li>
            <li>Agile Humanities Agency</li>
        </ul>

        <h4 id="contextual-annotations">Contextual Research</h4>

        <ul>
            <li>Steven Gotzler (Carnegie Mellon)</li>
            <li>Jon Klancher (Carnegie Mellon)</li>
            <li>Jack Quirk (Brown University)</li>
            <li>Avery Wiscomb (Carnegie Mellon)</li>
        </ul>

        <h4 id="gis-and-data-visualization">Data Visualization</h4>

        <ul>
            <li>Elisa Beshero-Bondar (Pitt-Greensburg to 2020, Penn State Behrend from 2020)</li>
            <li>Matthew Lincoln  (Carnegie Mellon)</li>
            <li>Jack Quirk  (Brown University)</li>
            <li>Emma Slayton (Carnegie Mellon)</li>
            <li>Scott B. Weingart (Carnegie Mellon)</li>
            <li>Avery Wiscomb (Carnegie Mellon)</li>
        </ul>

        <p><strong>Agile Humanities Agency</strong></p>

        <p>Dean Irvine,  Itay Zandbank,  Talya Shraga,  Shaindel Barkats,  Bill Kennedy,  Matthew Milner</p>

        <p>The <a href="http://agilehumanities.ca/"><strong>Agile Humanities Agency</strong></a> is a firm based in Toronto whose members have extensive experience with Digital Humanities development, with particular expertise in digital editions. AH worked closely with us in 2018-2019 to develop a professional style for our website, to think through the interactivity of our edition reader and Variorum interface.</p>

    </main>
</Layout>
