---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Viewer from '../components/Viewer/Viewer.astro';
import "../styles/sass/style.sass";
---

<Layout title="fv">
    <main id="primary-content" role="main">
        <h1>Variorum Viewer</h1>
    </main>
    <div id="root">
	    <div>
            <div class="App">
                <Viewer/>
            </div>
		</div>
    </div>
</Layout>

<style lang="scss">
  @import "../styles/sass/style.sass";
</style>