---
import Tei, { TeiBaseStyle } from 'astro-tei';
import { edition, chunk } from '../../data/store';
import Viewer from "./Viewer.astro"
const spine = await Astro.glob('../../data/spine.ts');
const teiFiles = await Astro.glob('../../teiFiles/*.xml');



export function getStaticPaths() {
    const paramMapList= []
    const paramMap = new Map<string, any>();

    for(let file of teiFiles){
        const edition = file.split('f').slice(-1).split('_').slice(-2); // 1818_C11.xml => 1818
        const chunk = file.split('C').slice(-1).split('.').slice(-2); // 11.xml => 11
        const pathMap = new Map<string, string>();

        pathMap.set('ed', edition);
        pathMap.set('ch', chunk);
        paramMap.set('params', pathMap);
        paramMapList.push(paramMap);
    }

    return paramMapList;
}

const {ed, ch} = Astro.params;

---

<Viewer>
    <h1>
        {ed}: {ch}
    </h1>
</Viewer>



