---
import Layout from '../../layouts/Layout.astro';
import Tei, { TeiBaseStyle } from 'astro-tei';
import Header from '../Header';
import OptionsSelector from './OptionsSelector';
import Controls from './Controls';


//const chunkFormat = chunk.get().toString().length == 1 ? '0' + chunk.get().toString() : chunk.get();
//const teiFilePath = `../../teiFiles/P5-f${edition.get()}_C${chunkFormat}.xml?raw`;
//const teiFile = (await import('../../teiFiles/P5-f1818_C11.xml?raw')).default;
//const teiFile = (await import(teiFilePath)).default;

---
<Layout>
  <main id="primary-content" role="main">
    <h1>Variorum Viewer</h1>
  </main>
  <div id="root">
    <div>
      <div class="App">
        <section id='viewer'>
          <Controls client:load />
          <Header edition=""/>

          <div id="viewer__contents" class="viewer__cols">
            <aside id="viewer__marginalia"></aside>
            <!-- <Tei data={teiFile} /> -->
            <!-- <TeiViewer client:only="react" /> -->
            <slot ed=edition.get() ch=chunk.get() />
            <aside id="viewer_variations"></aside>
          </div>

          <hr class='line' />
          <footer id="viewer_pagination_controls">
            <Controls client:load />
          </footer>
        </section>
      </div>
    </div>
  </div>
</Layout>

<style lang="scss">
  @import "../../styles/sass/style.sass";
</style>


