---
import Controls from './Controls.tsx';
import Layout from '../../layouts/Layout.astro';
import Header from "../Header.tsx";

const { source } = Astro.params;

---
<Layout title='viewer'>
  <main id="primary-content" role="main">
    <h1>Variorum Viewer</h1>
  </main>

  <div id="root">
    <div>
      <div class="App">
        <section id='viewer'>
          <Controls client:only />
          <Header source={source}/>
          <div id=`viewer__contents` class=`viewer__cols ${source}`>
            <!-- <Toolbar /> -->
            <slot/>
          </div>
          <hr class='line' />
          <div id="viewer_pagination_controls">
            <Controls client:only />
          </div>
        </section>
      </div>
    </div>
  </div>
</Layout>


