---
import Controls from './Controls';
import Layout from '../../layouts/Layout.astro';

const { source } = Astro.params;

---
<Layout>
  <main id="primary-content" role="main">
    <h1>Variorum Viewer</h1>
  </main>
  <div id="root">
    <div>
      <div class="App">
        <section id='viewer'>
          <Controls client:only />

          <div id=`viewer__contents` class=`viewer__cols ${source}`>
            <slot/>
          </div>

          <hr class='line' />
          <footer id="viewer_pagination_controls">
            <Controls client:only />
          </footer>
        </section>
      </div>
    </div>
  </div>
</Layout>


