<footer>
  <div>
    <div id='footer-identity'></div>
    <div id='footer-content'>
      <div id='colophon'>
        <p>Content on this site is licensed under a Creative Commons Attribution-NonCommercial 4.0 International <a href='https://creativecommons.org/licenses/by-nc/4.0/legalcode' target='_blank'>(CC BY-NC)</a> license </p>
        <!-- <p>Lorem Ipsum dolor sit amet consectetuer adipscing elit, sed diam nonummy nibh.</p> -->
      </div>
    </div>
    <div id='footer-sponsors'>
      <a href='https://newtfire.org' target='_blank'>newtFire: The Digital Humanities Lab at Penn State Erie, The Behrend College</a><br>
      <a href='https://mith.umd.edu/' target='_blank'>MITH @ UMD</a><br>
      <a href='http://shelleygodwinarchive.org/contents/frankenstein/' target='_blank'><i>Frankenstein</i>, Shelley-Godwin Archive</a>
      <a href='http://dsharp.library.cmu.edu/' target='_blank'>dSHARP @ CMU</a><br/>
    </div>
  </div>
</footer>