<header>
  <nav>
    <a href="/">Home</a>
    <a href="/1818/vol_1_chapter_i">Variorum Viewer</a>
    <a href="/about">About</a>
    <a href="/method">Method</a>
    <a href="/data">Data</a>
    <a href="/people">People</a>
  </nav>
</header>