---
import Layout from '../../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Tei, {TeiBaseStyle} from 'astro-tei';
// import TEI from '../tei-processing/tei'
import EditionSelector from '../components/EditionSelector';
import Paging from '../components/Paging';
import Header from '../components/Header';
import OptionsSelector from '../components/OptionsSelector';

const teiFile = (await import("../teiFiles/P5-f1818_C11.xml?raw")).default;
---

<section id='viewer'>

    <div id='viewer__controls'>
        <EditionSelector/>
        <Paging/>
        <OptionsSelector/>
    </div>

    <Header edition="1818"/>

    <div class="tei">
        <Tei data={teiFile} />
    </div>

    <hr className='line' />
        <footer id="viewer_pagination_controls">
            <EditionSelector/>
            <Paging/>
        </footer>
</section>
